@font-face {
    font-family: "TTLakes";
    src: url(TTLakes-Bold.woff);
}
@font-face {
    font-family: "TTLakes";
    src: url(TTLakes-Medium.woff);

}
@font-face {
    font-family: "TTLakes";
    src: url(TTLakes-Regular.woff);
}
body {
    background-color:#F8F8F8 ;
    margin: 0;
    font-family: "TTLakes";
    font-weight: normal;
    overflow-x:  hidden !important;
}
.header {
    height: 56px;
    position: relative;
    background: none;
}
.header::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient(270deg, #f8f8f8 0%, #fff 100%);
    transform: rotate(180deg);
    z-index: -1;
}
.header__text {
    margin: 16px 16px;
    font-weight: normal;
    font-size: 16px;
    list-style: 24px;
    letter-spacing: -0.2px;
}
.header__line {
    height: 1px;
    margin-top: 0px;
    background: #d9fff5;
    border-style: none;
}
.logo__icon {
    display: inline-grid  !important;
    grid-template-columns: 2fr 1fr !important;
    width: 240px !important;
    height: 72px !important;
    background-color: #fff !important;
    border: 1px solid #eaeaea !important;
    border-radius: 6px !important;
    margin-right: 16px !important;
}
.img__go {
    height: 40px;
    width: 40px;
    align-self: center;
    margin-left: 20px;
}
.logo__img {
    align-self: center;
    margin-left: 15px;
}
.btn_interact {
    display: inline-flex;
    font-family: "TTLakes";
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.01em;
    color: #1b1c21;
    background: transparent;
    border-width: 0px;
    height: 24px;
    width: 133px;
    margin-top: 30px;
    margin-left: 20px;
    padding: 0px;
}
.hiddenblocks {
    display: none;
    margin-left: 20px;
    margin-top: 20px;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr);
    justify-content: space-around;
    
}
.swiper-pagination {
    display: none;
}
.swiper-wrapper {
    display: grid !important;
    grid-template-columns: minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) minmax(100px, 1fr) !important;
    min-width: 100%;
    row-gap: 20px;
    margin-left: 20px;
    margin-top: 30px;
}
.swiper-container {
    margin: 0px !important;
    overflow: hidden;
    
}
.logo__viewsonic-hidden,.logo__sony-hidden {
    display: none !important;
}
.logo__apple-hidden {
    margin-left: 10px;
}
.logo__samsung-hidden {
    margin-left: 5px;
}
.button__text {
    height: 24px;
    text-align: start;
}
.rotated {
    transition: transform 0.3s ease;
}

@media (min-width: 768px) and (max-width: 1119px){
    body {
        overflow-x: hidden;
    }
    .logo__viewsonic, .logo__sony {
        display: none !important;
    }
    .logo__viewsonic-hidden,.logo__sony-hidden {
        display: grid !important;
    }
    .logo__samsung-hidden,.logo__apple-hidden {
        margin-left: initial;
    }
    .logo__sony-hidden,.logo__apple-hidden{
        margin-left: 5px;
    }
    .logo__lenovo-hidden {
        margin-left: 10px;
    }
    .swiper-wrapper {
        grid-template-columns: 1fr 1fr 1fr !important;
        row-gap: 20px;
        justify-content: space-around !important;
    }
    .logo {
        margin-left: 20px;
        margin-top: 30px;
    }
    .hiddenblocks {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-content: space-around;
        row-gap: 20px;
    }
    .logo__icon {
        width: 224px !important;
    }
    .swiper-pagination {
        display: none;
    }
}

@media (max-width:767px) {
    .hiddenblocks {
        display: none !important;
    }
    .logo__icon {
        margin-left: 30px;
        min-width: 240px;
    }
    .logo__lenovo {
        margin-left: 0px !important;
    }
    .logo__acer,.logo__hp {
        margin-left: 60px !important;
    }
    .header {
        height: 80px;
    }
    .btn_interact {
        display: none;
    }
    .swiper-container {
        overflow: hidden;
    }
    .swiper-wrapper {
        position: relative !important;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr !important;
        justify-content: space-between;
    }
    .swiper-pagination {
        display: block;
        top: 200px !important;
        max-width: 200px !important;
        left: 50px !important;

    }
    .swiper-pagination-bullet {
        height: 12px !important;
        width: 12px !important;
        background-color: #ddd !important;
    }
    :root {
        --swiper-theme-color: #b5b6bc !important;
    }
}
